<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NurseryAssigner.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
 
  </system.data>
  <connectionStrings>
    <add name="NurseryAssignerEntities" connectionString="metadata=res://*/NurseryAssigner.csdl|res://*/NurseryAssigner.ssdl|res://*/NurseryAssigner.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=C:\Users\Ron\Documents\Projects\NurseryAssigner\Data\NurseryAssigner.sqlite;DateTimeFormat=InvariantCulture;foreign keys=true&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <NurseryAssigner.Win.Properties.Settings>
      <setting name="FileLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="StartDate" serializeAs="String">
        <value />
      </setting>
      <setting name="EndDate" serializeAs="String">
        <value />
      </setting>
      <setting name="MainFormWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MainFormHeight" serializeAs="String">
        <value>0</value>
      </setting>
    </NurseryAssigner.Win.Properties.Settings>
  </userSettings>
</configuration>
